.btn{
    position: relative;
    background: #004958;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding: 0;
    .btn-text{
        display: block;
        padding: 15px 45px;
        border-radius: 15px;
        background: #00c2cb;
        font-size: 1.5rem;
        font-weight: 500;
        color: #42455a;
        transform: translateY(-6px);
        transition: transform ease 0.1s;
    }
    &:active{
        .btn-text{
            transform: translateY(-2px);
        }
    }
}

.border-animation{
    position: relative;
    padding: 15px 45px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #00c2cb;
    outline: 2px solid #00c2cb;
    outline-offset: -2px;
    font-size: 1.5rem;
    color: #00c2cb;
    font-weight: 500;
    cursor: pointer;
    transition: outline-offset 200ms ease;
    &:hover{
        color: #000;
            outline-offset: 3px;
    }
    &:active{
        transform: scale(0.95);
    }
}

.border-animation1 {
    position: relative;
    overflow: hidden;
    background: #42455a;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
    &:hover {        
        &::before{
            inset: -1px;           
        }
    }
    &::after{
        content: '';
        position: absolute;
        inset: 3px;
        border-radius: 50%;
        background: #22232e;
        z-index: -1;
    }
    &::before{
        content: '';
        position: absolute;
        inset: -1px 30px;
        background: #00c2cb;
        transition: 500ms;
        animation: rotate 4s linear infinite;
        z-index: -1;
    }
    &:active {
        transform: scale(0.95);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}